{% extends 'base.html.twig' %}

{% block title %}Hello ExamenController!{% endblock %}

{% block body %}
        <div class="container " style="width: 60%;margin-top: 1%;margin-left: 24%;">
            <h3 class="text-center " style="color:rgb(5, 68, 104);margin-bottom: 4%;">Ajouter Examen</h3>
                <div class="shadow p-3 mb-5 bg-body rounded">
                    {{ form_start(form) }}
    
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="form-group" >
                            {{ form_label(form.libelle) }}
                            {{ form_widget(form.libelle) }}
                            <div class="form-error">
                                {{ form_errors(form.libelle) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        {{ form_label(form.classes) }}
                        <br>
                        <div id="classes-wrapper">
                            {% for field in form.classes %}
                                <div style="min-width: 10%;">
                                    {{ form_widget(field) }}
                                    {{ form_label(field) }}
                                </div>
                            {% endfor %}
                        </div>
                     </div>
                     <div class="col-6">
                        {{ form_label(form.filieres) }}
                        <br>
                        <div id="classes-wrapper">
                            {% for field in form.filieres %}
                                <div style="min-width: 10%;">
                                    {{ form_widget(field) }}
                                    {{ form_label(field) }}
                                </div>
                            {% endfor %}
                        </div>
                     </div>
                </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            {{ form_label(form.professeurs) }}
                            <br>
                            <div id="classes-wrapper">
                                {% for field in form.professeurs %}
                                    <div style="min-width: 10%;">
                                        {{ form_widget(field) }}
                                        {{ form_label(field) }}
                                    </div>
                                {% endfor %}
                            </div>
                         </div> 
                         <div class="col-6">
                            {{ form_label(form.modules) }}
                            <br>
                            <div id="classes-wrapper">
                                {% for field in form.modules %}
                                    <div style="min-width: 10%;">
                                        {{ form_widget(field) }}
                                        {{ form_label(field) }}
                                    </div>
                                {% endfor %}
                            </div>
                         </div>
                    </div>
                 <div class="col-12">
                    <div class="form-group" style="margin-left: 78%;">
                          {{ form_row(form.submit) }}
                    </div>
                 </div>
                              
                    {{ form_end(form) }}   
        </div>
      </div>  
{% endblock %}