{% extends 'base.html.twig' %}

{% block title %}Details du Planification{% endblock %}

{% block body %}

  <div class="container mt-6 mr-16" style="width: 80%">           
    <div class="row d-flex justify-content-center" style="width: 100%;">
        <div class="col-8 mt-2" style="width: 100%;">
            <div class="overflow-x-auto " style="width: 100%;">
                <table class="table-auto min-w-full divide-y divide-gray-200" style="width: 100%;">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">Identifiant</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">Libele</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">Filiere</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">Niveau</th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for classe in classes %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{ classe.id}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ classe.libelle  }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ classe.getFiliere.libelle  }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ classe.getNiveau.libelle  }}</td>
                            <td class="px-6 py-4 whitespace-nowrap flex justify-around">
                                <a name="" id="" class="btn btn-info btn-sm" 
                                style="color:white" href="{{ path('app_planification_listeEtudiant',{ id: classe.id })}}"
                                 role="button">Voir liste Etudiant</a>
                                <a href=""><span class="icon"><i class="fas fa-pen"></i></span></a>
                                <a href=""><span class="icon"><i class="fas fa-trash-alt" style="color: red;"></i></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Affichage de la pagination -->
                <div class="navigation d-flex justify-content-center mt-2 " style="color:rgb(5, 68, 104) ;">
                    {{ knp_pagination_render(classes) }}
                </div>
            </div>
        </div>
    </div>
    
    
  </div>

{% endblock %}