{% extends 'base.html.twig' %}

{% block title %}Hello SeanceController!{% endblock %}

{% block body %}
       <div class="container mt-4 mr-16" style="width: 80%;">
        <div class="container1">
            <div class="d-flex justify-content-between">
                <div class="card shadow-sm" style="width: 20rem;">
                    <div class="card-body" style="display: flex; justify-content: space-around;">
                        <img src="{{ asset('images/etudiants/' ~ professeur.imageName) }}"
                         alt="Photo du professeur" style="height: auto;width: 30%;">
                         <div class="information" style="margin-top: 5%;">
                            <div class="nom" style="display: flex; margin-left: 3%;margin-top: 2%;">
                                <h1 style="color:rgb(5, 68, 104) ;">Nom : </h1><h1>{{professeur.nom}} </h1>
                            </div>
                            <div class="grade" style="display: flex; margin-left: 3%;margin-top: 5%;">
                                <h1 style="color:rgb(5, 68, 104) ;">Prenom : </h1> <h1> {{professeur.prenom}}</h1>
                            </div>
                            <div class="grade" style="display: flex; margin-left: 3%;margin-top: 5%;">
                                <h1 style="color:rgb(5, 68, 104) ;">Grade : </h1> <h1>{{professeur.grade}} </h1>
                            </div>
                            <div class="cni" style="display: flex;margin-top: 5%;">
                                <h1 style="color:rgb(5, 68, 104) ;">Cni: </h1> <h1> {{professeur.cni}}</h1>
                            </div>
                         </div>
                        
                    </div>
                </div>
                <div class="card shadow-sm" style="width: 18rem;">
                    <div class="card-body">
                        <h1 style="text-align: center;">Planification numero {{planification.id}} </h1>
                        <div class="information" style="margin-top: 5%;" >
                            <div class="nom" style="display: flex; margin-top: 2%;">
                                <h1 style="color:rgb(5, 68, 104) ;">Semestre : </h1><h1>{{planification.semestre}} </h1>
                            </div>
                            <div class="grade" style="display: flex;margin-top: 5%;">
                                <h1 style="color:rgb(5, 68, 104) ;">Module : </h1> <h1> {{planification.module.libelle}}</h1>
                            </div>
                            <div class="grade" style="display: flex;margin-top: 5%;">
                                <h1 style="color:rgb(5, 68, 104) ;">Cours : </h1> <h1>{{planification.cour.libelle}} </h1>
                            </div>
                            <div class="cni" style="display: flex;margin-top: 5%;">
                                <h1 style="color:rgb(5, 68, 104) ;">Classe: </h1> <h1> {{classeplanification.classe.libelle}}</h1>
                            </div>
                         </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="container1" style="margin-top: 3%;">
            <div class="d-flex justify-content-between">
                    <div class="tableau"style="width: 60%;">
                        <h1 style="text-align: center;">Liste des Seances</h1>
                        <div class="row d-flex justify-content-center" style="width: 100%;">
                            <div class="col-8 mt-4" style="width: 100%;">
                                <div class="overflow-x-auto " style="width: 100%;">
                                    <table class="table-auto min-w-full divide-y divide-gray-200" style="width: 100%;">
                                        <thead class="bg-gray-50">
                                            <tr>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">date</th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">heure_debut</th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">heure_fin</th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">etat</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-gray-200">
                                            {% for seance in seances %}
                                            <tr>
                                                <td class="px-6 py-4 whitespace-nowrap"> {{ seance.date|date('d/m/Y') }} </td>
                                                <td class="px-6 py-4 whitespace-nowrap">{{ seance.getHeureDebut|date('H:i:s') }}</td>
                                                <td class="px-6 py-4 whitespace-nowrap">{{ seance.getHeureFin|date('H:i:s') }}</td> 
                                                <td class="px-6 py-4 whitespace-nowrap">{{ seance.getEtat }}</td>                                               
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- Affichage de la pagination -->
                                    <div class="navigation d-flex justify-content-center mt-2 " style="color:rgb(5, 68, 104) ;">
                                        {{ knp_pagination_render(seances) }}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>  

                    <div class="formulaire">
                        <h1 style="text-align:center; margin-top: 2%;">Ajouter une Seance</h1>
                        <div class="container " style="width: 100%; ;margin-top: 1%">
                            <div class=" p-3 mb-5 bg-body rounded">
                                    {{ form_start(form) }}
                                <div class="row justify-content-center">

                                    <div class="col-12">
                                        <div class="form-group" >
                                            {{ form_label(form.date) }}
                                            {{ form_widget(form.date) }}
                                            <div class="form-error">
                                                {{ form_errors(form.date) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            {{ form_label(form.heure_debut) }}
                                            {{ form_widget(form.heure_debut) }}
                                            <div class="form-error">
                                                {{ form_errors(form.heure_debut) }}
                                            </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group" >
                                                {{ form_label(form.heure_fin) }}
                                                {{ form_widget(form.heure_fin) }}
                                                <div class="form-error">
                                                    {{ form_errors(form.heure_fin) }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                
                                 <div class="col-12">
                                    <div class="form-group" style="margin-left: 78%;" id="submit">
                                       {{ form_row(form.submit) }}
                                    </div>
                                </div>
                    
                                              
                             {{ form_end(form) }}   
                          </div>
                       </div>  
                    </div> 

           </div>
        </div>

       </div>
{% endblock %}

