<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    
    *{
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }
    
    body{
        background: #f5f6fa;
    }
    
    .wrapper .sidebar{
        background: rgb(5, 68, 104);
        position: fixed;
        top: 0;
        left: 0;
        width: 225px;
        height: 100%;
        padding: 20px 0;
        transition: all 0.5s ease;
    }
    
    .wrapper .sidebar .profile{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .wrapper .sidebar .profile img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    .wrapper .sidebar .profile h3{
        color: #ffffff;
        margin: 10px 0 5px;
    }
    
    .wrapper .sidebar .profile p{
        color: rgb(206, 240, 253);
        font-size: 14px;
    }
    
    .wrapper .sidebar ul li a{
        display: block;
        padding: 13px 30px;
        border-bottom: 1px solid #10558d;
        color: rgb(241, 237, 237);
        font-size: 16px;
        position: relative;
        text-decoration: none;
    }
    
    .wrapper .sidebar ul li a .icon{
        color: #dee4ec;
        width: 30px;
        display: inline-block;
    }
    
     
    
    .wrapper .sidebar ul li a:hover,
    .wrapper .sidebar ul li a.active{
        color: #0c7db1;
    
        background:white;
        border-right: 2px solid rgb(5, 68, 104);
    }
    
    .wrapper .sidebar ul li a:hover .icon,
    .wrapper .sidebar ul li a.active .icon{
        color: #0c7db1;
    }
    
    .wrapper .sidebar ul li a:hover:before,
    .wrapper .sidebar ul li a.active:before{
        display: block;
    }
    
    .wrapper .section{
        width: calc(100% - 225px);
        margin-left: 225px;
        transition: all 0.5s ease;
    }
    
    .wrapper .section .top_navbar{
        background: rgb(5, 68, 104);
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 30px;
     
    }
    
    .wrapper .section .top_navbar .hamburger a{
        font-size: 28px;
        color: #f4fbff;
    }
    
    .wrapper .section .top_navbar .hamburger a:hover{
        color: #a2ecff;
    }
    
     
    
    body.active .wrapper .sidebar{
        left: -225px;
    }
    
    body.active .wrapper .section{
        margin-left: 0;
        width: 100%;
    }
    
    </style>

</head>
<body>


    <div class="wrapper text-decoration-none">
        <div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
    
                <nav class="p-4" style="background-color: rgb(5, 68, 104);height: 10px; margin-top: -2%;">
                    <div class="max-w-7xl mx-auto" >
                        <div class="flex justify-between" >
                            <div class="hidden md:block">
                                <ul class="flex space-x-4">
                                {% if app.user %}
                                 {% if 'ROLE_ETUDIANT' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                    <li class="relative group">
                                        <button class="text-white hover:text-gray-300 focus:outline-none flex items-center">
                                            Etudiants
                                            <svg class="h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414zM7 17a1 1 0 100-2 1 1 0 000 2zM13 17a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                        <ul class="absolute hidden text-gray-900 pt-1 group-hover:block" style="width: 180%;">
                                            <li><a href="{{path('app_etudiant_absence')}}" class="bg-white hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap">Mes Absences</a></li>
                                            <li><a href="{{path('app_etudiant_cour')}}" class="bg-white hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap">Mes Cours</a></li>
                                        </ul>
                                    </li>
                                     {% endif %}
                                     {% if 'ROLE_PROFESSEUR' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                    <li class="relative group">
                                        <button class="text-white hover:text-gray-300 focus:outline-none flex items-center">
                                            Professeur
                                            <svg class="h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414zM7 17a1 1 0 100-2 1 1 0 000 2zM13 17a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                        <ul class="absolute hidden text-gray-900 pt-1 group-hover:block" style="width: 180%;">
                                            <li><a href="{{path('app_professeur_cour')}}" class="bg-white hover:bg-blue-500 py-2 px-4 block whitespace-no-wrap">Mes Cours</a></li>
                                            <li><a href="" class="bg-white hover:bg-blue-500 py-2 px-4 block whitespace-no-wrap">updatePasword</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% if 'ROLE_AC' in app.user.roles or 'ROLE_RP' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                    <li class="relative group">
                                        <button class="text-white hover:text-gray-300 focus:outline-none flex items-center">
                                            Planifications
                                            <svg class="h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414zM7 17a1 1 0 100-2 1 1 0 000 2zM13 17a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                        <ul class="absolute hidden text-gray-900 pt-1 group-hover:block" style="width: 180%;">
                                            <li><a href="{{path('app_planification_add')}}" class="bg-white hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap">Ajouter</a></li>
                                            <li><a href="{{path('app_planification_liste')}}" class="bg-white hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap">Lister</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}

                                    <li class="relative group1">
                                        <button class="text-white hover:text-gray-300" style="margin-left: 55em;width:10%;">
                                            <a name="" id="" class="btn btn-info btn-sm" 
                                             style="color:white" href="{{ path('app_security_logout') }}"
                                             role="button"> <i class="fas fa-sign-out-alt"></i>logout</a>
                                        </button>
                                    </li>
                                {% endif %}

                                 {% if not app.user %}   
                                    <li class="relative group"style="margin-left: 65em;width:10%" >
                                        <button class="text-white hover:text-gray-300">
                                            <a name="" id="" class="btn btn-info btn-sm" 
                                            style="color:white" href="{{ path('app_security_login') }}"
                                            role="button"> <i class="fas fa-sign-out-alt"></i>login</a>
                                        </button>
                                    </li>
                                  {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
             
        </div>
        <div class="sidebar">
         {% if app.user %}
            <div class="profile">
                <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
                <h3>Cheikh</h3>
                <p>sene</p>
            </div>
              {% endif %}
            <ul>
             {% if app.user %}
             {% if 'ROLE_AC' in app.user.roles or 'ROLE_RP' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                <li>
                    <a href="{{path('app_professeur_liste')}}" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Professeur</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('app_classe_liste')}}">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Classe</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('app_filiere_liste')}}">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Filiere</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('app_niveau_liste')}}">
                        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        <span class="item">Niveau</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-database"></i></span>
                        <span class="item">Annee</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('app_etudiant_Inscritliste')}}">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">Etudiant</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('app_module_liste')}}">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Module</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('app_cours_liste')}}">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Cours</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('app_absence_liste')}}">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Absence</span>
                    </a>
                </li>
                 {% endif %}
                 {% endif %}
            </ul>
        </div>  
    </div>

    <script>
        var hamburger = document.querySelector(".hamburger");
     hamburger.addEventListener("click", function(){
         document.querySelector("body").classList.toggle("active");
     })
     </script>


</body>
</html>
