{% extends 'base.html.twig' %}

{% block title %}add classe{% endblock %}

{% block body %}
 <div class="container " style="width: 60%; margin-top: 3%;">
            <h3 class="text-center " style="color:rgb(5, 68, 104);margin-bottom: 4%;">Ajouter une Classe</h3>
                <div class="shadow p-3 mb-5 bg-body rounded">
            {{ form_start(form) }}

                <div class="row justify-content-center">
                      <div class="col-12">
                         <div class="form-group" >
                            {{ form_label(form.libelle) }}
                            {{ form_widget(form.libelle) }}
                            <div class="form-error">
                                {{ form_errors(form.libelle) }}
                            </div>
                        </div>
                    
                        <div class="col-12">
                            <div class="form-group" >
                               {{ form_label(form.filiere) }}
                               {{ form_widget(form.filiere) }}
                               <div class="form-error">
                                   {{ form_errors(form.filiere) }}
                               </div>
                           </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group" >
                               {{ form_label(form.niveau) }}
                               {{ form_widget(form.niveau) }}
                               <div class="form-error">
                                   {{ form_errors(form.niveau) }}
                               </div>
                           </div>
                        </div>
                 </div>
             </div>
                <div class="form-group" style="margin-left: 82%;">
                    {{ form_row(form.submit) }}
                </div>   
            {{ form_end(form) }} 
        </div>
      </div>     
{% endblock %}
