{% extends 'base.html.twig' %}

{% block title %}Liste Classes{% endblock %}

{% block body %}

  <div class="container mt-6 mr-16" style="width: 80%">
         {% for message in app.flashes("success") %}
        <div class=" alert alert-success text-center" style="color:green">
             {{message}}  
        </div> 
        {% endfor %}

             <div class="titre d-flex justify-content-between">
                <h4>Liste Des Classes</h4>
                   <div class="btn ">
                    <a name="" id="" class="btn btn-info btn-sm mr-4" style="color:white" 
                    href="{{ path('app_classe_add')}}" role="button">+ Ajouter Classe</a>
                   </div>
             </div>

             <div class="container1">
                <div class="row ml-10">
                  <div class="col-md-4">
                    <div class="d-flex align-items-center">
                    <label for="selectField" class="date mr-2"> Filieres </label>
                      <select class="form-control mr-2" id="selectField">
                         {% for filiere in filieres %}
                            <option value="{{ filiere.id }}">{{ filiere.libelle }}</option>
                         {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="d-flex align-items-center">
                    <label for="selectField" class="date mr-2"> Niveaux </label>
                      <select class="form-control mr-2" id="selectField">
                         {% for niveau in niveaux %}
                            <option value="{{ niveau.id }}">{{ niveau.libelle }}</option>
                         {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4 align-self-end">
                    <button type="button" class="btn" style="background-color: rgb(5, 68, 104);color:white">
                      <i class="fas fa-search"></i> Rechercher
                    </button>
                  </div>
                </div>
              </div>
              
    <div class="row d-flex justify-content-center" style="width: 100%;">
        <div class="col-8 mt-2" style="width: 100%;">
            <div class="overflow-x-auto " style="width: 100%;">
                <table class="table-auto min-w-full divide-y divide-gray-200" style="width: 100%;">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">Identifiant</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">Libele</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">Filiere</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">Niveau</th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for classe in classes %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{ classe.id}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ classe.libelle  }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ classe.getFiliere.libelle  }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ classe.getNiveau.libelle  }}</td>
                            <td class="px-6 py-4 whitespace-nowrap flex justify-around">
                              <a name="" id="" class="btn btn-info btn-sm" 
                              style="color:white" href="{{ path('app_classe_classeListeEtudiant',{ id: classe.id })}}"
                               role="button">liste Etudiant</a>
                                <a href="{{ path('app_classe_edit',{ id: classe.id })}}"><span class="icon"><i class="fas fa-pen"></i></span></a>
                                <a href="{{ path('app_classe_delete',{ id: classe.id })}}"><span class="icon"><i class="fas fa-trash-alt" style="color: red;"></i></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Affichage de la pagination -->
                <div class="navigation d-flex justify-content-center mt-2 " style="color:rgb(5, 68, 104) ;">
                    {{ knp_pagination_render(classes) }}
                </div>
            </div>
        </div>
    </div>
    
    
  </div>

{% endblock %}