{% extends 'base.html.twig' %}

{% block title %}Hello ProfesseurController!{% endblock %}

{% block body %}
        <div class="container " style="width: 60%; margin-top: 3%;margin-left: 24%;">
            <h3 class="text-center " style="color:rgb(5, 68, 104);margin-bottom: 4%;">Faire une Inscription</h3>
                <div class="shadow p-3 mb-5 bg-body rounded">
                    {{ form_start(form) }}
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group" >
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom) }}
                            <div class="form-error">
                                {{ form_errors(form.nom) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom) }}
                            <div class="form-error">
                                {{ form_errors(form.nom) }}
                            </div>
                            </div>
                        </div>
                    </div>
    
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form_label(form.acces) }}
                                    {{ form_widget(form.acces) }}
                                    <div class="form-error">
                                        {{ form_errors(form.acces) }}
                                    </div>
                                </div>
                            </div>
                           
                          </div>
    
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                    <div class="form-error">
                                        {{ form_errors(form.email) }}
                                    </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.plainPassword) }}
                                        {{ form_widget(form.plainPassword) }}
                                        <div class="form-error">
                                            {{ form_errors(form.plainPassword) }}
                                        </div>
                                        </div>
                                </div>
                           </div>
                           <div class="row justify-content-center ">
                            <div class="col-6">
                              <div class="form-group"style="width: 30%;">
                                {{ form_row(form.imageFile) }}
                              </div>
                            </div>

                              <div class="col-6">
                                <div class="form-group" style="margin-top: 5%;">
                                    <div class="form-group" style="margin-left: 57%;">
                                        {{ form_row(form.submit) }}
                                      </div>
                                </div>
                                </div>

                              </div>      
                    {{ form_end(form) }}     
        </div>
      </div>  
{% endblock %}
