{% extends 'base.html.twig' %}

{% block title %}Liste De la classe {{cour.libelle}} {% endblock %}

{% block body %}

  <div class="container mt-6 mr-16" style="width: 80%"> 
  <h1 style="text-align: center;margin-top: 4%;">Liste De la classe {{cour.libelle}} </h1>          
    <div class="row d-flex justify-content-center" style="width: 100%;">
        <div class="col-8 mt-2" style="width: 100%;">
            <div class="overflow-x-auto " style="width: 100%;">
                <table class="table-auto min-w-full divide-y divide-gray-200" style="width: 100%;">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">identifiant</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">date_absence</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">etudiant_matricule</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">etudiant_nom</th>
                             <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">etudiant_prenom</th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for absence in absences %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{ absence.id}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ absence.dateAbsence|date('d/m/Y') }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ absence.etudiant.matricule }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ absence.etudiant.nom }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ absence.etudiant.prenom }}</td>
                            <td class="px-6 py-4 whitespace-nowrap flex justify-around">
                                <a href=""><span class="icon"><i class="fas fa-pen"></i></span></a>
                                <a href=""><span class="icon"><i class="fas fa-trash-alt" style="color: red;"></i></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Affichage de la pagination -->
                <div class="navigation d-flex justify-content-center mt-2 " style="color:rgb(5, 68, 104) ;">
                    {{ knp_pagination_render(absences) }}
                </div>
            </div>
        </div>
    </div>
    
    
  </div>

{% endblock %}