{% extends 'base.html.twig' %}

{% block title %}Mes cours{% endblock %}

{% block body %}

  <div class="container mr-16" style="width: 80%;">
         {% for message in app.flashes("success") %}
        <div class=" alert alert-success text-center" style="color:green">
             {{message}}  
        </div> 
        {% endfor %}

                <div class="row justify-content-center" style="width: 100%; height: 100px;" >
            {{ form_start(form) }}
                <div class="form-group d-flex justify-content-between align-items-top mt-4">
                    <div class="form-group " style="margin-top: -1%;">
                    {{ form_label(form.libelle) }}
                    </div>

                    <div class="form-group " style="width: 75%;">
                    {{ form_widget(form.libelle) }}
                    <div class="form-group">
                        {{ form_errors(form.libelle) }}
                    </div>
                    </div>

                     <div class="form-group" style="margin-top: -2.2%;">
                        {{ form_row(form.submit) }}
                    </div>
                </div>   
            {{ form_end(form) }}
    </div>

    <div class="row d-flex justify-content-center" style="width: 100%;">
        <h1 style="text-align: center;">Liste des Cours</h1>
        <div class="col-8 mt-4" style="width: 100%;">
            <div class="overflow-x-auto " style="width: 100%;">
                <table class="table-auto min-w-full divide-y divide-gray-200" style="width: 100%;">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">identifiant</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-200">libelle</th>
                            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for cour in cours %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{ cour.id}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ cour.libelle }}</td>
                             <td class="px-6 py-4 whitespace-nowrap flex justify-around">
                            <a name="" id="" class="btn btn-info btn-sm" 
                              style="color:white" href="{{ path('app_cours_listeAbsence',{ id: cour.id })}}" role="button">Voir Absences</a>
                             <a href="{{path('app_cours_edit',{id: cour.id})}}"><span class="icon"><i class="fas fa-pen"></i></span></a>
                              <a href="{{path('app_cours_delete',{id: cour.id})}}"><span class="icon"><i class="fas fa-trash-alt" style="color: red;"></i></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Affichage de la pagination -->
                <div class="navigation d-flex justify-content-center mt-2 " style="color:rgb(5, 68, 104) ;">
                    {{ knp_pagination_render(cours) }}
                </div>
            </div>
        </div>
    </div>
    
    
  </div>


{% endblock %}