{% extends 'base.html.twig' %}

{% block title %}Hello ProfesseurController!{% endblock %}

{% block body %}
        <div class="container " style="width: 60%; ;margin-top: 3%">
            <h3 class="text-center " style="color:rgb(5, 68, 104);margin-bottom: 4%;">Faire une Inscription</h3>
                <div class="shadow p-3 mb-5 bg-body rounded">
                    {{ form_start(form) }}
    
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group" >
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom) }}
                            <div class="form-error">
                                {{ form_errors(form.nom) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom) }}
                            <div class="form-error">
                                {{ form_errors(form.nom) }}
                            </div>
                            </div>
                        </div>
                    </div>
    
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="form-group">
                                    {{ form_label(form.tuteur) }}
                                    {{ form_widget(form.tuteur) }}
                                    <div class="form-error">
                                        {{ form_errors(form.tuteur) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-4">
                                <div class="form-group ">
                                    <label for="selectField" class="form-label"> Classes </label>
                                    <select name="classe" class="form-control" id="selectField" >
                                             {% for classe in classes %}
                                                <option value="{{ classe.id }}">{{ classe.libelle }}</option>
                                             {% endfor %}
                                    </select>
                               </div>
                            </div>
                          </div>
    
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                    <div class="form-error">
                                        {{ form_errors(form.email) }}
                                    </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.password) }}
                                        {{ form_widget(form.password) }}
                                        <div class="form-error">
                                            {{ form_errors(form.password) }}
                                        </div>
                                        </div>
                                </div>
                           </div>
                           <div class="row justify-content-center mt-4">

                            <div class="col">
                              <div class="form-group"style="width: 30%;">
                                {{ form_row(form.imageFile) }}
                              </div>
                            </div>

                              <div class="col-3">
                                <div class="form-group">
                                    <div class="form-group" style="margin-left: 13%;">
                                        {{ form_row(form.submit) }}
                                      </div>
                                </div>
                                </div>

                              </div>      
                    {{ form_end(form) }}
               
        </div>
      </div>  
{% endblock %}

